.statusBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 1.75em;
}

.statusBlock span {
  color: #695c58;
  display: inline-block;
}

.statusBlock div {
  position: relative;
}

.statusBlock img {
  height: 1.875rem; /* for preloader */
}

.statusBlock textarea {
  color: #695c58;
  border: 0.125em solid #695c58;
  border-radius: 0.25em;
  text-align: center;
  resize: vertical;
  min-height: 2.5em;
  max-height: max-content;
}

.inputCounter {
  font-size: 0.875em;
  color: #695c58;
  align-self: flex-end;
  padding-top: 0.125em;
}
