.background {
  width: 100%;
  height: 200px;

  /* зробити щоб це налаштовувалось користувачем */
  object-fit: cover;
  object-position: 0 70%;
}

.avatar {
  width: 160px;
  clip-path: circle(50% at 50% 50%);
}
