.profilePage {
  padding: 1.25em;
  display: flex;
  justify-content: center;
}

.profileInfo {
  display: flex;
  border: 0.1875em solid #382a2e;
  background-color: #ece0c9;
  border-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.16) 0em 0.1875em 0.375em,
    rgba(0, 0, 0, 0.23) 0em 0.1875em 0.375em;
  width: 37.5em;
  padding: 1.25em;
}

.leftBlock,
.rightBlock {
  flex: 1;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightBlock {
  border-left: 0.1875em solid #dccfbb;
  padding-left: 2.5em;
  align-items: flex-start;
}

.userPhoto {
  width: 9.375em;
  clip-path: circle(50% at 50% 50%);
  border: 0.1875em solid #382a2e;
  border-radius: 50%;
  margin-bottom: 0.625em;
}

.fullName {
  font-size: 1.5em;
  text-align: center;
}

.aboutMe {
  width: 100%;
  padding-bottom: 1em;
  margin-bottom: 0;
  border-bottom: 0.1875em solid #dccfbb;
}

.jobInfo p {
  margin-bottom: 1em;
}

.jobInfo {
  border-bottom: 0.1875em solid #dccfbb;
}

.contacts h3 {
  font-size: 1.125em;
  margin-bottom: 0.625em;
}

.contacts ul {
  list-style-type: none;
  padding: 0;
}

.contacts li {
  margin-bottom: 0.5em;
  color: #695c58;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.contacts a {
  color: #af7557;
  text-decoration: none;
}

.contacts a:hover {
  text-decoration: underline;
}

/* Adaptive size */
@media screen and (width > 1200px) {
  .profilePage {
    padding-right: var(--app-padding-large-screen);
  }
}
