.profileWrapper {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.profileInfo {
  display: flex;
  border: 3px solid #382a2e;
  background-color: #ece0c9;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  width: 600px;
  padding: 20px;
  color: #382a2e;
}

.leftBlock,
.rightBlock {
  flex: 1;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightBlock {
  border-left: 3px solid #dccfbb;
  padding-left: 40px;
  align-items: flex-start;
}

.userPhoto {
  width: 150px;
  clip-path: circle(50% at 50% 50%);
  border: 3px solid #382a2e;
  border-radius: 50%;
  margin-bottom: 10px;
}

.fullName {
  font-size: 24px;
  text-align: center;
}

.aboutMe {
  width: 100%;
  padding-bottom: 16px;
  margin-bottom: 0;
  border-bottom: 3px solid #dccfbb;
}

.jobInfo p {
  margin-bottom: 16px;
}

.jobInfo {
  border-bottom: 3px solid #dccfbb;
}

.contacts h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.contacts ul {
  list-style-type: none;
  padding: 0;
}

.contacts li {
  margin-bottom: 8px;
  font-size: 16px;
  color: #695c58;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.contacts a {
  color: #ae7558;
  text-decoration: none;
}

.contacts a:hover {
  text-decoration: underline;
}

/* Adaptive size */
@media screen and (min-width: 1270px) {
  .profileWrapper {
    padding-right: 10vw;
  }
}
