.friend {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 0 5px;
}

.avatar {
  margin-bottom: 5px;
  width: 35px;
  clip-path: circle(50% at 50% 50%);
}
