.dialogs {
  display: grid;
  grid-template-columns: clamp(200px, 20%, 275px) 1fr;
  min-height: calc(92vh - 10px);
  height: 100%;
}

.dialogsItems {
  border-right: 1px solid #382a2e;
  padding-top: 15px;
  background-color: #ece0c9;
}

.messages {
  display: flex;
  flex-direction: column;
  padding: 20px;
  word-wrap: break-word;
}

.sendArea {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  margin-left: auto;
  width: 100%;
}

.sendArea textarea {
  background-color: #f6f0e4;
  border: thick double #382a2e;
  font-family: "Merriweather", serif;
  width: 100%;
  padding: 4px;
  font-size: 14px;
}

.sendArea button {
  padding: 8px;
  margin-left: 20px;
  background-color: #382a2e;
  color: #e5d9c3;
  font-family: "Merriweather", serif;
  cursor: pointer;
  font-size: 14px;
}

/* Adaptive size */
@media screen and (min-width: 1270px) {
  .messages {
    padding-right: 10vw;
  }
}
