.dialogsPage {
  display: grid;
  grid-template-columns: clamp(12.5rem, 19vw, 17.187rem) 1fr;
  height: 100%;
}

.dialogsItems {
  border-right: var(--small-border);
  background-color: #ece0c9;
}

.messages {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  word-wrap: break-word;
}

.form {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  width: 100%;
}

.form textarea {
  border: thick double #382a2e;
  padding: 0.5rem;
  width: 100%;
  resize: none;
}

.buttonWrapper button {
  margin: 0 0 0 1.55rem;
  border: 0.1875rem double #382a2e;
  background-color: #f1e8d7;
  color: #382a2e;
  cursor: pointer;
  font-size: 1.25rem;
  border-radius: 50%;
  height: 80%;
  padding: 0 1.1rem 0 0.9rem;
  transition: transform 3s ease;
}

.buttonWrapper:hover {
  transform: scale(1.1);
}

.buttonWrapper {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
}

.buttonTriangle {
  bottom: 1.125rem;
  left: 1.75rem;
  transform: rotate(34deg);
}

/* Adaptive size */
@media screen and (width > 1200px) {
  .messages {
    padding-right: var(--app-padding-large-screen);
  }
}
