.dialogsPage {
  display: grid;
  grid-template-columns: clamp(12.5rem, 19vw, 17.187rem) 1fr;
  height: 100%;
}

.dialogsItems {
  border-right: var(--small-border);
  background-color: #ece0c9;
}

.messages {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  word-wrap: break-word;
}

.form {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  width: 100%;
}

.form textarea {
  border: 0.3rem double #382a2e;
  padding: 0.5rem 2.5rem 0.5rem 0.5rem;
  width: 100%;
  resize: none;
  overflow: hidden;
}

.form span {
  left: 0.8rem;
  top: -1.5rem;
}

.buttonWrapper button {
  margin: 0 0 0 1.55rem;
  border: 0.1875rem double #382a2e;
  background-color: #f1e8d7;
  color: #382a2e;
  cursor: pointer;
  font-size: 1.25rem;
  border-radius: 50%;
  height: 80%;
  padding: 0 1.1rem 0 0.9rem;
  transition: transform 3s ease;
}

.buttonWrapper:hover {
  transform: scale(1.1);
}

.buttonWrapper {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
}

.buttonTriangle {
  bottom: 1.125rem;
  left: 1.75rem;
  transform: rotate(34deg);
}

.fieldWrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.emojiButton {
  padding: 0;
  position: absolute;
  right: 0.8rem;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.5em;
  border: none;
}
.emojiButton:hover {
  transform: scale(1.1);
}

.pickerContainer {
  position: absolute;
  bottom: 3.75rem;
  right: -1rem;
}

em-emoji-picker {
  --border-radius: 0.5rem;
  --category-icon-size: 1rem;
  --color-border-over: rgba(0, 0, 0, 0.1);
  --color-border: rgba(0, 0, 0, 0.05);
  --font-family: var(--main-font);
  --font-size: 1rem;
  --rgb-accent: 175, 117, 87;
  --rgb-background: 236, 224, 201;
  --rgb-color: 56, 42, 46;
  --rgb-input: 246, 240, 228;
  --shadow: rgba(0, 0, 0, 0.1) 0 0.1875rem 0.375rem;

  border: 0.125rem solid #382a2e;

  height: 50vh;
  min-height: 400px;
  max-height: 800px;
  user-select: none;
}

/* Adaptive size */
@media screen and (width > 1200px) {
  .messages {
    padding-right: var(--app-padding-large-screen);
  }
}
