.friendsBlock {
  margin-top: 140px;
  color: #382a2e;
}

.friendsBlock h3 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 12px;
  color: #382a2e;
}

.friendsBlock .friends {
  display: flex;
  flex-direction: row;
}
