.postsBlock {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.newPost textarea {
  background-color: #f6f0e4;
  border: thick double #382a2e;
  font-family: "Merriweather", serif;
  width: 98%;
}

.newPost button {
  background-color: #382a2e;
  color: #e5d9c3;
  font-family: "Merriweather", serif;
}
