.otherMessage,
.myMessage {
  border: var(--small-border);
  padding: 0.5rem;
  margin-bottom: 0.3125rem;
  background-color: #ece0c9;
  position: relative;
  max-width: clamp(10rem, 24vw, 33.5rem);
  border-radius: 0.9375rem;
}

.myMessage {
  margin-left: auto;
}

.otherMessage {
  margin-right: auto;
}

.otherMessage .messageTriangle,
.myMessage .messageTriangle {
  position: absolute;
  bottom: 0.5rem;
  transform: rotate(45deg);
}

.otherMessage .messageTriangle {
  left: 0;
}

.myMessage .messageTriangle {
  right: 0;
}
