.preloaderWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  user-select: none;
}

.preloader {
  --preloader-height: 6.25rem;
  height: var(--preloader-height);
  top: calc(50vh - var(--preloader-height) / 2);
}

/* Adaptive size */
@media screen and (width > 768px) {
  .preloader {
    --preloader-height: 8rem;
  }
}

@media screen and (width > 992px) {
  .preloader {
    --preloader-height: 10.25rem;
  }
}

@media screen and (width > 1200px) {
  .preloader {
    --preloader-height: 12.5rem;
    padding-right: var(--app-padding-large-screen);
  }
}
