.header {
  grid-area: header;
  background-color: #ece0c9;
  border-bottom: 0.5em double #382a2e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25em;
  padding-left: 0.625em;
  z-index: 100;
  min-height: 2.5em;
  user-select: none;
}

.leftBlock {
  display: flex;
  align-items: center;
}

.leftBlock img {
  width: 3.75em;
  margin-right: 0.625em;
}

.rightBlock {
  display: flex;
  align-items: center;
}

.rightBlock a {
  text-decoration: none;
  color: #382a2e;
  transition: color 0.3s ease;
}

.rightBlock a:hover,
.rightBlock a:active,
.rightBlock a:focus {
  color: #af7557;
}

.authUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #382a2e;
  width: 6em;
}

.authUser p {
  font-size: 0.875em;
  font-weight: 600;
  margin: 0.25em 0 0;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.authUser img {
  width: 2.5em;
}

.userPhoto {
  clip-path: circle(50% at 50% 50%);
  border: 0.1875em solid #382a2e;
  border-radius: 50%;
}

/* Adaptive size */
@media screen and (width > 1200px) {
  .header {
    padding-right: var(--app-padding-large-screen);
  }
}
