.header {
  grid-area: header;
  background-color: #ece0c9;
  border-bottom: 8px double #382a2e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 20px 10px;
  font-size: 16px;
}

.header img {
  width: 60px;
}

/* Adaptive size */
@media screen and (min-width: 1270px) {
  .header {
    padding-right: 10vw;
  }
}
