.nav {
  grid-area: navbar;
  background-color: #ece0c9;
  padding: 20px;
}

.item a {
  text-decoration: none;
  color: #382a2e;
  font-size: 18px;
}

.item a:hover,
.item a:active,
.item a:focus {
  color: #af7557;
}
