$main-dark-color: #382a2e;
$input-border: 0.125rem solid #695c58;

.form {
  position: absolute;
  right: 20.8rem;
  top: 22.3rem;
  height: 11rem;
  width: 13.5rem;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0.1875rem 0.375rem,
    rgba(0, 0, 0, 0.1) 0 0.1875rem 0.375rem;
  border: 0.1875rem solid $main-dark-color;
  background-color: #ece0c9;
  border-radius: 0.5rem;
  padding: 1rem;
}

.inputField {
  position: relative;
  margin-bottom: 0.75rem;
  display: flex;
  justify-content: center;

  div {
    --icon-size: 1rem;
    --icon-left: calc(2.5% + 0.375rem);
    --padding-left: 1.5rem;

    span {
      left: 0;
      top: 2rem;
      background-color: #f6f0e4;
      padding: 0.25rem;
      z-index: 20;
      border: 0.125rem solid #382a2e;
      border-radius: 0.25rem;
      box-shadow: rgba(0, 0, 0, 0.1) 0 0.1875rem 0.375rem,
        rgba(0, 0, 0, 0.1) 0 0.1875rem 0.375rem;
    }

    justify-content: center;
  }

  div:has(> span)::before {
    content: ' ';
    position: absolute;
    z-index: 10;
    width: 0;
    height: 0;
    left: calc(2.5% + 0.25rem);
    top: 0.85rem;
    border: 10px solid;
    border-color: transparent transparent #382a2e transparent;
    pointer-events: none;
  }

  input {
    width: 95%;
    padding: 0.25rem;
    border: $input-border;
    border-radius: 0.25rem;
    box-sizing: border-box;

    &:focus,
    &:hover {
      border-color: $main-dark-color;
      transform: scale(1.01);
    }
  }

  &:has(> .showPasswordBtn) {
    input {
      padding-right: 1.75rem;
    }
  }
}

.showPasswordBtn {
  padding: 0;
  position: absolute;
  text-decoration: none;
  color: $main-dark-color;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
  right: calc(2.5% + 0.375rem);
  top: 50%;
  transform: translateY(-50%);

  &:hover {
    color: #757575;
  }
}

.crossedEye {
  color: #757575;

  &:hover {
    color: $main-dark-color;
  }
}

.checkboxWrapper {
  display: flex;
  user-select: none;
  margin-bottom: 0.75rem;

  &:focus,
  &:hover {
    transform: scale(1.01);
  }

  input {
    appearance: none;
    position: relative;
    width: 1rem;
    height: 1rem;
    border-radius: 0.25rem;
    border: $input-border;
    cursor: pointer;

    &::before {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      content: ' ';
    }

    &:focus,
    &:hover,
    &:checked {
      border-color: $main-dark-color;
    }

    &:checked {
      background-color: $main-dark-color;

      &::before {
        content: '\2714';
        font-size: 0.75rem;
        color: #ece0c9;
      }
    }
  }
}

.checkboxLabel {
  margin-left: 0.25rem;
}

.submitBtnWrapper {
  align-self: flex-end;

  .submitBtn {
    background-color: $main-dark-color;
    color: #ece0c9;
    border: none;
    border-radius: 0.25rem;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    user-select: none;

    // &:hover {
    //   анімацію підібрати
    // transition: color 0.3s ease;
    // }
  }
}

.formSummaryError {
  color: #7f0000;
}
