.dialogLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  text-decoration: none;
  color: #382a2e;
  user-select: none;
}

.photo {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 0.125rem solid #382a2e;
  margin-right: 0.625rem;
}

.info {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  font-weight: 600;
}

.dialogLink:hover,
.dialogLink:active,
.dialogLink:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.lastMessage {
  color: #89564a;
  font-weight: normal;
  width: clamp(8rem, 9vw, 12.5rem);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
