.usersPage {
  padding: 1.25em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.usersPage h3 {
  color: #382a2e;
  align-self: stretch;
  border-bottom: 0.15em solid #382a2e;
  text-align: center;
  margin: 0 0 1.25em 0;
  font-size: 1.25em;
  width: 100%;
}

.users {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.25em;
  grid-auto-flow: row;
  max-width: 46.75em;
  justify-items: center;
  margin: 1.25em 0;
}

/* Adaptive size */
@media screen and (1200px < width) {
  .usersPage {
    padding-right: var(--app-padding-large-screen);
  }
}

@media screen and (1450px < width) {
  .users {
    grid-template-columns: repeat(3, 1fr);
    max-width: 70.75em;
  }
}
