.app-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "navbar header header"
    "navbar content content";
  grid-template-rows: 9vh 1fr;
  grid-template-columns: auto 1fr;
  font-family: "Merriweather", serif;
  min-height: 100vh;
}

.app-wrapper-content {
  grid-area: content;
  background-color: #f1e8d7;
}
